* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.containerbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 150px auto;
  padding: 20px;
  gap: 20px;
}

.col {
  width: 300px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  margin: 25px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  animation: flip-in-diagonal-bl 1s linear 0s 1 normal none;
}

@keyframes flip-in-diagonal-bl {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.col:nth-child(1) {
  animation: flip-in-diagonal-bl 0.9s linear forwards;
}

.col:nth-child(2) {
  animation: flip-in-diagonal-bl 0.9s linear 0.2s forwards;
}

.col:nth-child(3) {
  animation: flip-in-diagonal-bl 0.9s linear 0.5s forwards;
}

img {
  width: 100%;
  height: 200px;
}

button {
  background-color: #405cf5;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  padding: 10px;
  margin: 50px auto 0;
  justify-content: center;
  line-height: 1.15;
  display: flex;
  border: none;
  font-size: 18px;
  padding: 15px;
  width:200px;
}
p {
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .containerbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: center;
    margin-bottom: 20px;
    column-gap: 20px;
  }
}
